/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&family=Tapestry&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: 'Tapestry', sans-serif;
    background: black;
}

h2 {
    margin: 1rem;
}

h3 {
    margin-bottom: 15px;
}

/* Modal Idea taken from W3Schools */
/* Modal Content */
.modal-content {
    margin: auto;
    background-color: hwb(0 5% 42%);
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    max-width: 500px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    font-family: 'Tapestry', sans-serif;
    width: fit-content;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 5px;
}

/* Game Background */
#game-background {
    background: url('../images/background-game.jpg') no-repeat center center/cover;
    height: 50vh;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* Game Board */
#game-board {
    background: #1b0505;
    opacity: .4;
    width: 80%;
    height: 80%;
    border-radius: 20px;

}

/* Media Query: Tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    #game-background {
        height: 55vh;
    }
}

/* Media Query: Large devices (992px and up)*/
@media screen and (min-width: 768px) {
    #game-background {
        height: 65vh;
    }
}